#up{
    background-color:salmon;
    border-radius: 15%;
}
#down{
    margin-left: 10px;
    border-radius: 15%;

}
button{
    padding: 5px;
}
#delete{
    background-color: crimson;
    color: white;
}