<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center">Post a new Quote</h4>
      <hr>
      
      <form (ngSubmit)='submitQuote()'#quoteForm='ngForm'>

        <div class="form-group">

          <label for="author">Posted By</label>
          <input type="text"  class="form-control"  id="author" 
           [(ngModel)]="newQuote.author" name ="author" #author='ngModel' required>
           <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
               <p>Author is Required</p>

           </div>


        </div>
        <div class="form-group">

          <label for="description">Quote</label>
          <textarea class="form-control" id="description" rows="6" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>Description is required</p>
            </div>




        </div>
        <div class="form-group">
          <label for="complete">Date posted</label>
          <input type='date' id="complete" [(ngModel)]="newQuote.postedDate" name="postedDate" #postedDate="ngModel" required>
          <div [hidden]="postedDate.valid || postedDate.pristine" class="alert alert-danger">
            <p>Date is required</p>
            </div>

        </div>
      <br>
      <button type="submit" class="btn btn-primary"> Add Quote</button>
      </form>
    </div>
  </div>
</div>
